<?xml version="1.0"?>

<launch>
  <param name="/swarm_size" value="4"/>
  <param name="/filename" value="$(find teamshield)/files/occlusion.csv"/>
  <param name="/min_z" value="500"/>        # m
  <param name="/max_z" value="1000"/>       # m
  <param name="/max_n" value="128"/>        # max num of cells row/column
  <param name="/camera_fov" value="135"/>   # degree
  <param name="/m_per_box" value="5"/>      # m

  <node pkg="teamshield" type="world_loader.py" name="world_loader"/>

  <group ns="uav0">
    <node pkg="teamshield" type="uav" name="uav" output="screen"/>
    <node pkg="teamshield" type="estimator.py" name="estimator" output="screen"/>
    <node pkg="teamshield" type="planner.py" name="planner" output="screen"/>
  </group>

  <group ns="uav1">
    <node pkg="teamshield" type="uav" name="uav"/>
    <node pkg="teamshield" type="estimator.py" name="estimator"/>
    <node pkg="teamshield" type="planner.py" name="planner"/>
  </group>

  <group ns="uav2">
    <node pkg="teamshield" type="uav" name="uav"/>
    <node pkg="teamshield" type="estimator.py" name="estimator"/>
    <node pkg="teamshield" type="planner.py" name="planner"/>
  </group>

  <group ns="uav3">
    <node pkg="teamshield" type="uav" name="uav"/>
    <node pkg="teamshield" type="estimator.py" name="estimator"/>
    <node pkg="teamshield" type="planner.py" name="planner"/>
  </group>

</launch>
