<?xml version="1.0"?>

<launch>
  <param name="/swarm_size" value="4"/>
  <param name="/filename" value="$(find teamshield)/files/occlusion.csv"/>
  <param name="/min_z" value="1500"/>
  <param name="/max_z" value="9800"/>
  <param name="/max_n" value="128"/>

  <node pkg="teamshield" type="world_loader.py" name="world_loader"/>

  <group ns="uav0">
    <node pkg="teamshield" type="uav" name="uav" output="screen"/>
    <node pkg="teamshield" type="estimator.py" name="estimator" output="screen"/>
    <node pkg="teamshield" type="planner.py" name="planner" output="screen"/>
    <node pkg="topic_tools" type="relay" name="map_sharer" args="my_qtmap /qtmap_share"/>
  </group>

  <group ns="uav1">
    <node pkg="teamshield" type="uav" name="uav"/>
    <node pkg="teamshield" type="estimator.py" name="estimator"/>
    <node pkg="teamshield" type="planner.py" name="planner"/>
    <node pkg="topic_tools" type="relay" name="map_sharer" args="my_qtmap /qtmap_share"/>
  </group>

  <group ns="uav2">
    <node pkg="teamshield" type="uav" name="uav"/>
    <node pkg="teamshield" type="estimator.py" name="estimator"/>
    <node pkg="teamshield" type="planner.py" name="planner"/>
    <node pkg="topic_tools" type="relay" name="map_sharer" args="my_qtmap /qtmap_share"/>
  </group>

  <group ns="uav3">
    <node pkg="teamshield" type="uav" name="uav"/>
    <node pkg="teamshield" type="estimator.py" name="estimator"/>
    <node pkg="teamshield" type="planner.py" name="planner"/>
    <node pkg="topic_tools" type="relay" name="map_sharer" args="my_qtmap /qtmap_share"/>
  </group>

</launch>
